/* Imported Font v */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/* These elements are all for the Navigation bar*/

* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(10, 20, 30);
}

#Spacing1 { /* Spacing between Start of text */
    box-sizing: border-box;
    margin: 10px;
    padding-top: 5%;
}

/* This is going to call all the listed below elements
and make them as said in the {} */
a {
    font-family: "Monsterrat", sans-serif;
    font-weight: 600px;
    font-size: 30px;
    color: azure;
    text-decoration: none;
}

/* Navigation Bar Header*/
#NBH {
    
}

.NHB {
    display: contents;
    position: fixed;
    background-color: rgb(15, 25, 40);
    justify-content: space-between;
}

.MNV {
    background-color: rgb(15, 25, 40);
    list-style: none;
    text-align: center;
    text-indent: 20px;
}

 /* Make sure that .MNV and .MNV li are the same
back ground color to make it look one solid color*/

.MNV li {
    background-color: rgb(15, 25, 40); 
    display: inline-block;
    background-color: none;
    padding: 0px 10px;
}

.MNV li a {
    background-color: rgb(15, 25, 40);
    transition: all 0.3s ease 0s;
}

.MNV li a:hover {
    color: gray;
}


/* End of Navigation Bar */
