
nav {
    border-bottom: 1px solid black;
}

.OLSY a:hover {
    list-style-type: none;
    padding-left: 0;
    color: yellow;
}

.LIST {
    display: inline-block;
    margin: 10px;
    font-weight: bolder;
}

.NBAR {
    text-align: right;
    padding-right: 20%;
    background-color: #E55B13;
}

.LOIR {
    float: left;
    border-style: double;
}

#BOX1OP {
    background-image: url(/Irishv2/POREF/Exports/construction-work.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 800px;
}

#IRCONSLOGAN {
    display: grid;
    justify-content: center;   
}

#SOWORDS {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: xx-large;
    font-style: oblique;
}

#BOX2SERV {
    background-color: #E55B13;
    height: 800px;
}

.Hed1 {
    font-size: xx-large;
    font-weight: bolder;
}

#SERVBOX1 {
    font-size: larger;
    font-weight: bold;
    display: flex;
}

#DISPUL {
    justify-content: space-between;
    flex-wrap: wrap;
    color:rgb(0, 0, 0);
}

#DISPUL p {
    background-color: rgb(95, 158, 160,.5);
}

#S1 {
    background-image: url(/Irishv2/POREF/Exports/aboutus---history---preview---horizontal.jpg);
    height: 200px;
    width: fit-content;
    background-position-y: center;
    background-position-x: -10px;
    background-repeat: no-repeat;
}

#S2 {
    background-image: url(/Irishv2/POREF/Exports/CSO-Basin-12-Utility-Vault-14-Edited-scaled.jpg);
    height: 200px;
    background-position-y: -280px;
    background-position-x: -700px;
    background-repeat: no-repeat;
}

#S3 {
    background-image: url(/Irishv2/POREF/Exports/jameson-fish-tape-poles-11a-25-500m-31_600.png);
    height: 200px;
    background-position-y: -100px;
    background-position-x: -20px;
    background-repeat: no-repeat;
}

#S4 {
    background-image: url(/Irishv2/POREF/Exports/asphalt-paving-in-the-rain.png);
    height: 200px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

#S5 {
    background-image: url(/Irishv2/POREF/Exports/trench-received_281073653087073.jpg);
    height: 200px;
    background-position-y: -180px;
    background-position-x: center;
    background-repeat: no-repeat;
}

#S6 {
    background-image: url(/Irishv2/POREF/Exports/Pros-and-Cons-of-Underground-Fiber-Optic-Cable.png);
    height: 200px;
    background-position-y: -530px;
    background-position-x: center;
    background-repeat: no-repeat;
}

#S7 {
    background-image: url(/Irishv2/POREF/Exports/Ditch_Witch_JT1220_Horizontal_Directional_Drill_Hamburg_Michigan.png);
    height: 200px;
    background-position-y: -1100px;
    background-position-x: -1500px;
    background-repeat: no-repeat;
}

#S8 {
    background-image: url(/Irishv2/POREF/Exports/shutterstock_238025107.png);
    height: 200px;
    background-position-y: -150px;
    background-position-x: -570px;
    background-repeat: no-repeat;
}

#S9 {
    background-image: url(/Irishv2/POREF/Exports/Conduith1.png);
    height: 200px;
    background-position-y: -75px;
    background-position-x: -15px;
    background-repeat: no-repeat;
}

#S10 {
    background-image: url(/Irishv2/POREF/Exports/Compaction.png);
    height: 200px;
    background-position-y: -450px;
    background-position-x: center;
    background-repeat: no-repeat;
}

#S11 {
    background-image: url(/Irishv2/POREF/Exports/ASV_RT_50_Trailer.6172ef8deda40.png);
    height: 200px;
    background-position-y: -350px;
    background-position-x: -400px;
    background-repeat: no-repeat;
}

#S12 {
    background-image: url(/Irishv2/POREF/Exports/asphalt-milling-south-bend-in_2_orig.png);
    height: 200px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

#S13 {
    background-image: url(/Irishv2/POREF/Exports/6022eeea849d219de1140ca0_vacuum-excavation-3.png);
    height: 200px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.SB {
    width: 200px;
}

.CB {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}
